* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 10vh;
    background: #444444;
}

.set {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #fff;
}

.set > img {
    width: 30px;
    height: 30px;
}

.navbar > select {
    height: 30px;
    border: none;
    background: transparent;
    color: #fff;
}

.box {
    display: flex;
    width: 65%;
    height: 80vh;
    gap: 40px;
}

.box1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 300px;
    height: 75vh;
}

.box11 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    height: 40vh;
}

.menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 50px;
    background: #00b5a9;
}

.menu2 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 50px;
    background: #444444;
}

.b1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.b1 > img {
    width: 30px;
    height: 30px;
}

.b2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    background: #828282;
    border-radius: 30px;
}

.menu3 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 50px;
    background: #444444;
}

.b3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.b3 > img {
    width: 30px;
    height: 30px;
}

.b4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    background: #828282;
    border-radius: 30px;
}

.menu4 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 50px;
    background: #444444;
}

.b5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.b5 > img {
    width: 30px;
    height: 30px;
}

.b6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    background: #828282;
    border-radius: 30px;
}

.menu5 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 50px;
    background: #444444;
}

.b7 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.b7 > img {
    width: 30px;
    height: 30px;
}

.menu6 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 50px;
    background: #444444;
}

.b8 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.b8 > img {
    width: 30px;
    height: 30px;
}

.box12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35vh;
    background: #444444;
    gap: 20px;
    color: #fff;
}

.a1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    background: #00b5a9;
    border-radius: 50%;
}

.a2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    background: #444444;
    border-radius: 50%;
    gap: 10px;
}

.box2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 300px;
    height: 75vh;
}

.box22 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45vh;
    background: #444444;
    color: #fff;
    gap: 15px;
    text-align: center;
}

.r1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.r1 > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

hr {
    width: 100%;
}

.c1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3vh;
    gap: 20px;
}

.c2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    gap: 5px;
}

.c2 > img {
    width: 100%;
    height: 100%;
}

.c3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    gap: 5px;
}

.c3 > img {
    width: 100%;
    height: 100%;
}

.c4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    gap: 5px;
}

.c4 > img {
    width: 100%;
    height: 100%;
}

.box23 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background: #444444;
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background: red;
    color: #fff;
}

.h1 > img{
    width: 15%;
    height: 60%;
}

.h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    background: #ff6464;
    color: #fff;
}

.h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    gap: 30px;
}

.h3 > h3 {
    position: absolute;
    left: 730px;
    bottom: 125px;
}

.h3 > img {
    width: 15%;
    height: 70%;
}

.box3 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 300px;
    height: 75vh;
}

.box33 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background: #444444;
    gap: 25px;
    color: #fff;
}

.box33 > input {
    padding: 10px;
    width: 80%;
    height: 40px;
    background: #525252;
    border: none;
    border-radius: 5px;
}

.box33 > button {
    width: 60%;
    height: 40px;
    background: #00b5a9;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.box34 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: #fff;
    width: 100%;
    height: 45vh;
    background: #444444;
}

.box34 > input {
    padding: 10px;
    width: 80%;
    height: 40px;
    background: #525252;
    border: none;
    border-radius: 5px;
}

.box34 > button {
    width: 60%;
    height: 40px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 5px;
}